.header-area img{
    height: 80px;
    margin: 20px;
    margin-top: 40px;
}
ul{
    list-style: none;
}
.menu-bar{
    background-color: black;
    height: 50px;
}
.menu-bar li a{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    padding: 12px 36px;
    float: left;
}
nav a:hover{
    background-color: #ffffff;
    color: #000000;;
}

